@model FinalProject.Models.Classroom

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 style="color: #d2b12d;">Edit Classroom</h1>

        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <table class="table">
                <tr class="form-group">
                    <td class="col-2"><label asp-for="Name" class="control-label"></label></td>
                    <td class="col-6"><input asp-for="Name" class="form-control" /></td>
                    <td class="col-4"><span asp-validation-for="Name" class="text-danger"></span></td>
                </tr>
                <tr class="form-group">
                    <td><label asp-for="ToUse" class="control-label"></label></td>
                    <td><input asp-for="ToUse" class="form-control" /></td>
                    <td><span asp-validation-for="ToUse" class="text-danger"></span></td>
                </tr>
                <tr class="form-group">
                    <td><label asp-for="Seat" class="control-label"></label></td>
                    <td><input asp-for="Seat" class="form-control" /></td>
                    <td><span asp-validation-for="Seat" class="text-danger"></span></td>
                </tr>
                <tr class="form-group">
                    <td><label asp-for="Note" class="control-label"></label></td>
                    <td><input asp-for="Note" class="form-control" /></td>
                    <td><span asp-validation-for="Note" class="text-danger"></span></td>
                </tr>
                <tr class="form-group">
                    <td></td>
                    <td style="text-align:center;">
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color: #d2b12d; border-color: #d2b12d" />
                    </td>
                    <td class="text-danger">@ViewBag.Created</td>
                </tr>
            </table>
        </form>
        <div style="text-align:right;"><a asp-action="Index">Back to List</a></div>
    </div>
</div>
