@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: #669966;font-size:3em;">Course Scheduling</h1>
    <br />
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="headshot">
                <a asp-controller="Classroom" asp-action="Index"><img src="~/images/Classroom.png" alt="" class="card-img-top rounded-pill"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;"><a asp-controller="Classroom" asp-action="Index">Classroom</a></h5>
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="headshot">
                <a asp-controller="Classes" asp-action="Index"><img src="~/images/Classes.png" alt="" class="card-img-top rounded-pill"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;"><a asp-controller="Classes" asp-action="Index">Classes</a></h5>
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="headshot">
                <a asp-controller="Teacher" asp-action="Index"><img src="~/images/Teacher.jpg" alt="" class="card-img-top rounded-pill"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;"><a asp-controller="Teacher" asp-action="Index">Teacher</a></h5>
            </div>
        </div>
    </div>
</div>